.image-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -5;
    overflow: hidden;
    scroll-behavior: smooth;
    
    .image-bg {
        height: 100%;
        width: max-content;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 600px){
            background: linear-gradient(90deg, rgba(75,70,51,1) 0%, rgba(80,50,35,1) 35%, rgba(0,0,0,1) 100%);
        }
    
        .slide-image {
            height: 100%;

            @media screen and (max-width: 600px){
                height: 76%;
                border-bottom: 3px solid dimgrey;
            }

        }
        &__text {
            width: 70vw;
            display: flex;
            justify-content: flex-end;
            text-align: right;

            @media screen and (max-width: 600px){
                width: 100vw;   
                min-width: 100vw;
            }
           
           &-inner {
               width: 50%;
               height: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;

                h1 {
                    font-size: 4.5rem;
                }

                .slide-item__text,
                .slide-item__text a {
                    color: white;
                }
                .slide-item__text {
                    margin: 2rem;
                    font-size: 1.2rem;
    
                    .slide-item__text-social {
                        display: flex;
                        justify-content: flex-end;
                        
    
                        div {
                            margin: 1rem 0 1rem 1rem;
    
                            a {
                                display: flex;
                                align-items: center;
    
                                p {
                                    margin-left: .5rem;
                                }
                            }
                        }
                    }
                }
            }


        }
    }
}