
html {
    font-size: 62.5%; //1rem=10px
   
}
body {
     font-size: 1.5rem; 
     font-family: $font-regular;
     -webkit-box-shadow: inset 0px 0px 141px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: inset 0px 0px 141px 0px rgba(0,0,0,0.75);
     box-shadow: inset 0px 0px 141px 0px rgba(0,0,0,0.75);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
h1 {
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
    width: 34rem;
    font-size: 4rem;
    margin: 2rem;
    
    @media screen and (max-width: 600px){
        width: 26rem;
        font-size: 3rem;   
    }
}


/*General */
.hidden {
    display: none !important;
}
.center-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}
.center-left {
    display: flex;
    justify-content: left;
    align-items: center;
}
.top-right {
    display: flex;
    justify-content: right;
    align-items: flex-start;
}
.bg-black {
    background-color: $black;
}



