@font-face {
  font-family: "Klavika Light";
  src: url("../font/klavika-light-webfont.woff") format("woff");
}
@font-face {
  font-family: "Klavika Bold";
  src: url("../font/klavika-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Klavika Medium";
  src: url("../font/klavika-medium-webfont.woff") format("woff");
}
@font-face {
  font-family: "Klavika Regular";
  src: url("../font/klavika-regular-webfont.woff") format("woff");
}
/*Font weight*/
/* Colors*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounceInText {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  20% {
    transform: translatey(-10px);
  }
  40% {
    transform: translatey(10px);
  }
  60% {
    transform: translatey(-10px);
  }
  80% {
    transform: translatey(10px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes fade {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    transform: scale(0);
    display: none;
  }
}
@keyframes mistEven {
  0% {
    opacity: 1;
    transform: translate(10px, 5px) scale(0.9);
  }
  50% {
    opacity: 0.5;
    transform: translate(15px, 20px) scale(1);
  }
  100% {
    opacity: 0.7;
    transform: translate(-5px, 0px) scale(0.7);
  }
}
@keyframes mistOdd {
  0% {
    opacity: 1;
    transform: translate(-5px, -5px) scale(0.8);
  }
  50% {
    opacity: 0.4;
    transform: translate(10px, 15px) scale(1.1);
  }
  100% {
    opacity: 0.7;
    transform: translate(5px, 10px) scale(0.9);
  }
}
@keyframes mistTail {
  0% {
    transform: translate(-70px, -42px) scale(1);
  }
  50% {
    transform: translate(-100px, 0) scale(0.9);
  }
  100% {
    opacity: 0;
    transform: translate(-100px, 20px) scale(0.5);
  }
}
@keyframes mistTailItem {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes translateText {
  100% {
    text-align: left;
  }
}
@keyframes slideInText {
  0% {
    opacity: 0;
    transform: translateX(-72px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Klavika Regular";
  -webkit-box-shadow: inset 0px 0px 141px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 141px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 141px 0px rgba(0, 0, 0, 0.75);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
  width: 34rem;
  font-size: 4rem;
  margin: 2rem;
}
@media screen and (max-width: 600px) {
  h1 {
    width: 26rem;
    font-size: 3rem;
  }
}

/*General */
.hidden {
  display: none !important;
}

.center-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.center-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.top-right {
  display: flex;
  justify-content: right;
  align-items: flex-start;
}

.bg-black {
  background-color: #000;
}

.image-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -5;
  overflow: hidden;
  scroll-behavior: smooth;
}
.image-container .image-bg {
  height: 100%;
  width: max-content;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .image-container .image-bg {
    background: linear-gradient(90deg, #4b4633 0%, #503223 35%, #1c1c2d 100%);
  }
}
.image-container .image-bg .slide-image {
  height: 100%;
}
@media screen and (max-width: 600px) {
  .image-container .image-bg .slide-image {
    height: 76%;
    border: 3px solid dimgrey;
  }
}
.image-container .image-bg__text {
  width: 70vw;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
@media screen and (max-width: 600px) {
  .image-container .image-bg__text {
    width: 100vw;
  }
}
.image-container .image-bg__text-inner {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.image-container .image-bg__text-inner h1 {
  font-size: 4.5rem;
}
.image-container .image-bg__text-inner .slide-item__text,
.image-container .image-bg__text-inner .slide-item__text a {
  color: white;
}
.image-container .image-bg__text-inner .slide-item__text {
  margin: 2rem;
  font-size: 1.2rem;
}
.image-container .image-bg__text-inner .slide-item__text .slide-item__text-social {
  display: flex;
  justify-content: flex-end;
}
.image-container .image-bg__text-inner .slide-item__text .slide-item__text-social div {
  margin: 1rem 0 1rem 1rem;
}
.image-container .image-bg__text-inner .slide-item__text .slide-item__text-social div a {
  display: flex;
  align-items: center;
}
.image-container .image-bg__text-inner .slide-item__text .slide-item__text-social div a p {
  margin-left: 0.5rem;
}

main {
  height: 100vh;
  scroll-behavior: smooth;
  overflow: hidden;
}

footer {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: #fff;
}
@media screen and (max-width: 600px) {
  footer {
    height: 35vh;
    flex-direction: column;
  }
}
footer .logo {
  width: 7rem;
}
@media screen and (max-width: 600px) {
  footer .logo {
    width: 100%;
    text-align: right;
  }
}
footer .logo img {
  width: 100%;
}
@media screen and (max-width: 600px) {
  footer .logo img {
    width: 30%;
  }
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-content {
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  animation: fade 1s ease 5s;
}
.intro-content__image {
  position: relative;
  width: 200px;
  text-align: center;
  animation: bounceIn 1s, float 4s ease 1s;
}
.intro-content__image .mist {
  position: absolute;
  bottom: 0;
  left: 8px;
  z-index: -1;
  width: 79%;
  height: 94%;
}
.intro-content__image .mist span {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  filter: blur(30px);
}
.intro-content__image .mist .mist-tail {
  width: 100%;
  height: 96px;
  animation: mistTail 5s ease infinite;
}
.intro-content__image .mist .mist-tail span.tail-item {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  filter: blur(50px);
  animation: mistTailItem 5s ease infinite;
}
.intro-content__image .mist .mist-tail span.tail-item:first-child {
  width: 40px;
  height: 30px;
  filter: blur(30px);
}
.intro-content__image .mist span:nth-child(even) {
  animation: mistEven 6s ease infinite;
}
.intro-content__image .mist span:nth-child(odd) {
  animation: mistOdd 6s ease infinite;
}
.intro-content__text {
  width: 200px;
  font-style: italic;
  animation: bounceInText 1s ease-in-out;
}
.intro-content__text.translate {
  text-align: left;
}
.intro-content__text.translate span {
  display: inline-block;
  animation: slideInText 0.5s linear;
  margin-top: 1.5rem;
}
.intro-content.fadeOut {
  animation: fadeOut 1s ease;
}

.slideshow-container {
  height: 85vh;
  width: 100vw;
}
@media screen and (max-width: 600px) {
  .slideshow-container {
    height: 65vh;
  }
}
.slideshow-container .slideshow {
  display: flex;
  width: 100%;
  height: 100%;
}
.slideshow-container .slideshow .slide-item {
  width: 99vw;
  flex-shrink: 0;
  height: 100%;
}
.slideshow-container .slideshow .slide-item:not(:first-child):not(:last-child) {
  height: 60%;
  align-items: flex-start;
  width: 93%;
  margin: 2rem auto;
}
.slideshow-container .slideshow .slide-item.fadeIn {
  animation: fadeIn 0.7s ease;
}
.slideshow-container .slideshow .slide-item.fadeOut {
  animation: fadeOut 1s ease;
}
.slideshow-container .slideshow-arrows {
  position: absolute;
  top: 40%;
  height: 5rem;
  width: 100%;
}
.slideshow-container .slideshow-arrows__left, .slideshow-container .slideshow-arrows__right {
  position: absolute;
  cursor: pointer;
  width: 4rem;
  visibility: visible;
}
@media screen and (max-width: 600px) {
  .slideshow-container .slideshow-arrows__left, .slideshow-container .slideshow-arrows__right {
    width: 2.5rem;
  }
}
.slideshow-container .slideshow-arrows__left {
  left: 1rem;
}
.slideshow-container .slideshow-arrows__right {
  right: 1rem;
}

.pagination {
  width: 45%;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .pagination {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.pagination-intro {
  height: 50%;
}
@media screen and (max-width: 600px) {
  .pagination-intro {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
}
.pagination-detail {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .pagination-detail {
    flex-direction: column;
    align-items: baseline;
    height: 50%;
    margin-top: 1.5rem;
  }
}
.pagination-detail__slide {
  list-style: none;
  color: #fff;
  width: 40%;
  margin: 0.5rem 2rem 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .pagination-detail__slide {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.pagination-detail__slide li {
  height: 20px;
  width: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dotted #fff;
  border-right: none;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}
.pagination-detail__slide li p {
  height: 90%;
  width: 90%;
}
.pagination-detail__slide li p.active {
  background-color: #fff;
}
.pagination-detail__slide li:last-child {
  border-right: 2px dotted #fff;
}
.pagination-detail__text.fadeIn {
  animation: fadeIn 1.3s ease;
}
.pagination-detail__text.fadeOut {
  animation: fadeOut 1.3s ease;
}

/*# sourceMappingURL=style.css.map */
